<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Le tableau chair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of chair">
      <ion-label>
        <p>quantité depart: {{c.qdepart}}</p>
        <p>nombre de perte: {{c.nperdu}}</p>
        <p>Date: {{c.Date}}</p>
        <p>nombre restant: {{c.qrestant}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="success"routerLink="/chair-edit">Modifier</ion-button>
</ion-content>
