<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">CALENDRIER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item class="ion-text-center" routerLink="/calendrier-chair">
 <ion-label color="primary"> CALENDRIER CHAIR </ion-label>
</ion-item>
<ion-item class="ion-text-center" routerLink ="/calendrier-pondeuse">
  <ion-label color="primary">CALENDRIER PONDEUSE </ion-label>
</ion-item>
</ion-content>
