<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter-commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Selectioner un client</ion-label>
    </ion-item>
    <ion-item>
      <ion-select interface="action-sheet" class="select-full-width">
        <ion-select-option *ngFor="let c of clients" [value]="c">{{c.nom + ' (' + c.numero+')'}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Quantité</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Prix</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Total</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-list>
    <ion-row>
    <ion-col>
    <ion-button color="success" routerLink="/commande">Enregistrer</ion-button>
    </ion-col>
    <ion-col>
    <ion-button routerLink="/commande">Annuler</ion-button>
  </ion-col>
  </ion-row>
</ion-content>
