<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >list-veterinaire</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
  <ion-col>
  <img src="assets/icon/vet.jpg"/>
</ion-col>
</ion-grid>
<ion-list>
  <ion-list-header> LISTE DES VETERINAIRE </ion-list-header>
  <ion-item *ngFor="let v of veterinaire">
    <ion-avatar slot="start">
    </ion-avatar>
    <ion-label>
      <h2><strong> {{v.nom}}</strong></h2>
      <h3><strong>{{v.num}}</strong></h3>
      <p><strong>{{v.adresse}}</strong></p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
