<ion-header [translucent]="true">
  <ion-toolbar>
        
  <ion-title  class="ion-text-center" color="primary">
      Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button  expand="full" color="success" routerLink="/add-chair" >CHAIR</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="success" routerLink="/add-pondeuse" >PONDEUSE</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="success" routerLink="/clients" >CLIENTS</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="success" routerLink="/commande" >COMMANDE</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="success" routerLink="/profile" >Profile utilisateur</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
      </ion-list>

</ion-content>
