<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      LISTE DES CLIENTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-item class="ion-text-center" routerLink="/clients" color="secondary">
  <ion-label color="primary"> <strong>LISTE DES CLIENTS </strong></ion-label>
</ion-item>
<ion-item class="ion-text-center" routerLink="/commande" color="secondary">
  <ion-label color="primary"><strong>Commandes </strong></ion-label>
</ion-item>
</ion-content>
